# Synopsis

Here we create a TFIDF matrix from our corpus of novels, and then save a reduced version of this for use in HCA and PCA models. We choose to limit our vocabulary to 1000 top words, based on high-frequency non-stopwords.

We begin by extracting a bag-of-words from the token table. Note that we could have chosen a different set of "bags," e.g. paragraphs or an arbitrary chunk of n tokens.

# Configuration

In [14]:
db_name = "/sfs/qumulo/qhome/sk5be/DS5559/HarryPotter.db"

OHCO = ['book_num', 'chap_num', 'para_num', 'sent_num', 'token_num']
BOOKS = OHCO[:1]
CHAPS = OHCO[:2]
PARAS = OHCO[:3]
SENTS = OHCO[:4]

BAG = CHAPS
print(CHAPS)

['book_num', 'chap_num']

# Libraries

In [2]:
import sqlite3
import pandas as pd
import numpy as np

# Pragmas

In [3]:
%matplotlib inline

# Process

In [7]:
with sqlite3.connect(db_name) as db:
    tokens = pd.read_sql('SELECT * FROM token', db, index_col=OHCO)
    vocab = pd.read_sql('SELECT * FROM vocab', db, index_col='term_id')
    docs =  pd.read_sql('SELECT * FROM doc', db, index_col=CHAPS)

## Create DTM

### Create word mask

In [15]:
WORDS = (tokens.punc == 0) & (tokens.num == 0)

### Extrct BOW from tokens

To extract a bag-of-words model from our tokens table, we apply a simple `groupby()` operation. Note that we can drop in our hyperparameters easily -- CHAPS and 'term_id' and be replaced. We can easily write a function to simplify this process and make it more configurable.

In [16]:
BOW = tokens[WORDS].groupby(BAG + ['term_id'])['term_id'].count()

### Convert BOW to DTM

In [17]:
DTM = BOW.unstack().fillna(0)

### Create Bags table

The bags table stores the OHCO content for each doc, since we remove this from the DTM. We can add some stats to this table if we wanted to.

In [18]:
bags = pd.DataFrame(index = DTM.index)
# bags['term_count'] = DTM.sum(1)
# bags['tf'] = bags.term_count / bags.term_count.sum()

In [19]:
DTM = DTM.reset_index(drop=True)
DTM.index.name = 'bag_id'

## Compute Term Frequencies and Weights

### Compute TF

Note that TF is just the term count. It is often normalized in the computing the value, but it is defined as the count in the context of information retrieval.

### Compute IDF

In [20]:
N_docs = DTM.shape[0]
vocab['df'] = DTM[DTM > 0].count()
vocab['idf'] = np.log10(N_docs / vocab.df)

### Test: View most frequent non-stops by IDF

In [21]:
vocab[vocab.stop==0].sort_values('n', ascending=False).head(500)\
    .sort_values('idf', ascending=False).head(20)

,term_str,n,p,port_stem,stop,df,tf_sum,tf_mean,tf_max,tfidf_sum,tfidf_mean,tfidf_max,tfth_sum,tfth_mean,tfth_max,th_sum,th_mean,th_max,idf
term_id,,,,,,,,,,,,,,,,,,,
2383,bagman,231,0.000206,bagman,0,21,0.072401,0.000364,0.010866,0.234891,0.001180,0.035252,0.040429,0.000203,0.006067,0.558402,0.002806,0.070888,0.976634
12447,lockhart,251,0.000224,lockhart,0,22,0.096452,0.000485,0.018093,0.306447,0.001540,0.057486,0.065000,0.000327,0.012193,0.673907,0.003386,0.104732,0.956430
11940,kreacher,292,0.000260,kreacher,0,24,0.090647,0.000456,0.030331,0.276623,0.001390,0.092560,0.056611,0.000284,0.018942,0.624526,0.003138,0.152961,0.918642
18929,slughorn,406,0.000362,slughorn,0,26,0.128720,0.000647,0.023518,0.377945,0.001899,0.069053,0.115002,0.000578,0.021012,0.893427,0.004490,0.127234,0.883880
17305,riddle,297,0.000265,riddl,0,28,0.110134,0.000553,0.022198,0.311598,0.001566,0.062803,0.082083,0.000412,0.016544,0.745307,0.003745,0.121942,0.851695
5482,crouch,333,0.000297,crouch,0,29,0.105022,0.000528,0.015066,0.291818,0.001466,0.041862,0.080415,0.000404,0.011536,0.765694,0.003848,0.091187,0.836455
11942,krum,252,0.000225,krum,0,30,0.075605,0.000380,0.009716,0.206380,0.001037,0.026522,0.045813,0.000230,0.005887,0.605962,0.003045,0.064955,0.821732
6665,dobby,446,0.000397,dobbi,0,32,0.165526,0.000832,0.042866,0.436430,0.002193,0.113022,0.172670,0.000868,0.044716,1.043160,0.005242,0.194784,0.793703
8530,fleur,243,0.000217,fleur,0,34,0.077763,0.000391,0.007634,0.198231,0.000996,0.019459,0.050489,0.000254,0.004956,0.649270,0.003263,0.053690,0.767374
4305,cho,204,0.000182,cho,0,35,0.058051,0.000292,0.007131,0.145553,0.000731,0.017881,0.028624,0.000144,0.003516,0.493079,0.002478,0.050858,0.754785
15208,petunia,286,0.000255,petunia,0,35,0.129749,0.000652,0.014193,0.325324,0.001635,0.035586,0.118701,0.000596,0.012984,0.914851,0.004597,0.087125,0.754785
4067,cedric,312,0.000278,cedric,0,38,0.110336,0.000554,0.015468,0.263560,0.001324,0.036947,0.092170,0.000463,0.012921,0.835355,0.004198,0.093032,0.719069
4620,codes,198,0.000176,code,0,38,0.074222,0.000373,0.002986,0.177294,0.000891,0.007133,0.049383,0.000248,0.001987,0.665342,0.003343,0.025046,0.719069
21824,umbridge,617,0.000550,umbridg,0,39,0.167353,0.000841,0.018833,0.393484,0.001977,0.044280,0.198587,0.000998,0.022348,1.186636,0.005963,0.107923,0.707788
17789,savings,198,0.000176,save,0,39,0.074664,0.000375,0.002986,0.175552,0.000882,0.007021,0.050060,0.000252,0.002002,0.670464,0.003369,0.025046,0.707788
1157,'yeah,199,0.000177,'yeah,0,40,0.053921,0.000271,0.003252,0.124811,0.000627,0.007528,0.026873,0.000135,0.001621,0.498371,0.002504,0.026879,0.696793
21290,tonks,238,0.000212,tonk,0,40,0.077796,0.000391,0.009699,0.180075,0.000905,0.022449,0.050464,0.000254,0.006291,0.648667,0.003260,0.064864,0.696793
1095,'we,233,0.000208,'we,0,40,0.070329,0.000353,0.005888,0.162791,0.000818,0.013630,0.043450,0.000218,0.003638,0.617801,0.003105,0.043621,0.696793
735,'oh,224,0.000200,'oh,0,41,0.060154,0.000302,0.003658,0.137096,0.000689,0.008336,0.033278,0.000167,0.002023,0.553218,0.002780,0.029608,0.686069
21524,trelawney,247,0.000220,trelawney,0,41,0.081557,0.000410,0.010104,0.185874,0.000934,0.023028,0.053387,0.000268,0.006614,0.654595,0.003289,0.066978,0.686069

### Compute TFIDF

See [Simone Teufel's lectures](https://www.cl.cam.ac.uk/teaching/1415/InfoRtrv/lecture4.pdf)

```
TF: term count
N: number of docs
DF: number of docs with term
log = log10

(1 + log(TF)) * log( N / DF)
```

In [22]:
TFIDF = DTM * vocab['idf']

### Test: Stopwords Detected?

In [23]:
vocab[TFIDF.sum() == 0]

,term_str,n,p,port_stem,stop,df,tf_sum,tf_mean,tf_max,tfidf_sum,tfidf_mean,tfidf_max,tfth_sum,tfth_mean,tfth_max,th_sum,th_mean,th_max,idf
term_id,,,,,,,,,,,,,,,,,,,
1185,a,20951,0.018672,a,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1237,about,2501,0.002229,about,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1512,again,1878,0.001674,again,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1642,all,4324,0.003854,all,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1744,an,2634,0.002347,an,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1754,and,27433,0.024449,and,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2033,around,2184,0.001946,around,0,199,0.764945,0.003844,0.009487,0.0,0.0,0.0,4.611369,0.023173,0.057194,6.028367,0.030293,0.063753,0.0
2079,as,7605,0.006778,as,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2166,at,8652,0.007711,at,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2340,back,3420,0.003048,back,0,199,1.216931,0.006115,0.014308,0.0,0.0,0.0,10.781005,0.054176,0.126760,8.859175,0.044518,0.087667,0.0
2579,be,4522,0.004030,be,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2674,been,3261,0.002906,been,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3737,but,5884,0.005244,but,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3766,by,2220,0.001979,by,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
5235,could,3292,0.002934,could,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
6248,did,3344,0.002980,did,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
6660,do,3729,0.003323,do,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
6801,down,2364,0.002107,down,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
8716,for,5644,0.005030,for,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
8965,from,4113,0.003666,from,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
9874,had,10348,0.009222,had,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
10048,harry,18007,0.016048,harri,0,199,6.362834,0.031974,0.056931,0.0,0.0,0.0,198.205530,0.996008,1.773444,31.150513,0.156535,0.235390,0.0
10092,have,4460,0.003975,have,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
10114,he,21950,0.019562,he,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
10366,him,7015,0.006252,him,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
10394,his,14271,0.012719,hi,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
10762,i,12367,0.011022,i,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
10984,in,12627,0.011254,in,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
11429,into,3442,0.003068,into,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
11557,it,14212,0.012666,it,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12321,like,2405,0.002143,like,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
12494,looked,2345,0.002090,look,0,199,0.819756,0.004119,0.011927,0.0,0.0,0.0,5.244105,0.026352,0.076299,6.397157,0.032147,0.076210,0.0
13004,me,2855,0.002544,me,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
13496,more,1942,0.001731,more,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
14000,no,2553,0.002275,no,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
14069,not,5414,0.004825,not,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
14115,now,2608,0.002324,now,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
14272,of,21784,0.019415,of,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
14351,on,7188,0.006406,on,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
14357,one,2649,0.002361,one,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
14506,out,4415,0.003935,out,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
19151,so,3037,0.002707,so,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
19839,still,1703,0.001518,still,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
20875,that,10634,0.009477,that,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
20883,the,51757,0.046127,the,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
20892,their,2590,0.002308,their,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
20894,them,4165,0.003712,them,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
20898,then,2610,0.002326,then,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
20908,there,3795,0.003382,there,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
20921,they,6748,0.006014,they,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
20992,though,1815,0.001618,though,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
21213,to,26995,0.024059,to,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
22315,up,4407,0.003928,up,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
22873,was,16054,0.014308,wa,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
23041,were,4366,0.003891,were,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
23065,what,4507,0.004017,what,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
23089,where,1357,0.001209,where,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
23170,who,3247,0.002894,who,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
23336,with,6510,0.005802,with,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
23638,you,13899,0.012387,you,1,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

### Add stats to Vocab

In [24]:
vocab['tfidf_sum'] = TFIDF.sum()
vocab['tfidf_mean'] = TFIDF.mean()
vocab['tfidf_max'] = TFIDF.max()

### Get Top words and Trim Matrix

Basically, implement this SQL query in Pandas:
```
SELECT * 
FROM vocab 
WHERE stop = 0
ORDER BY n DESC
LIMIT 1000
```

In [25]:
def get_top_terms(vocab, no_stops=True, sort_col='n', k=1000):
    if no_stops:
        V = vocab[vocab.stop == 0]
    else:
        V = vocab
    return V.sort_values(sort_col, ascending=False).head(k)

### Remove proper nouns

These make it too easy to distinguish genres, as they have super high TFIDF values.

In [26]:
proper_nouns = tokens.loc[tokens.pos == 'NNP', 'term_id'].unique()

In [27]:
top_n = 1000
# TOPV = get_top_terms(vocab, sort_col='n')
TOPV = get_top_terms(vocab.loc[~vocab.index.isin(proper_nouns)], sort_col='n')

### Create Reduced TFIDF matrix for later use

In [28]:
tfidf_small = TFIDF[TOPV.index].stack().to_frame().rename(columns={0:'w'})

# Save data

In [29]:
with sqlite3.connect(db_name) as db:
    vocab.to_sql('vocab', db, if_exists='replace', index=True)
    tokens.to_sql('token', db, if_exists='replace', index=True)
    docs.to_sql('doc', db, if_exists='replace', index=True)
    tfidf_small.to_sql('tfidf_small', db, if_exists='replace', index=True)
    bags.reset_index().to_sql('bag', db, if_exists='replace', index=True, index_label='bag_id')

In [21]:
# END